<footer>
    
    <div class="social-links">
      <a target="_blank" href="https://github.com/genchevv"><%= fa_icon "github" %></a>
      <a target="_blank" href="https://www.instagram.com/rgenchev/"><%= fa_icon "instagram" %></a>
      <a target="_blank" href="https://www.facebook.com/radoslavgenchew"><%= fa_icon "facebook" %></a>
      <a target="_blank" href="https://twitter.com/rgenchew"><%= fa_icon "twitter" %></a>
      <a target="_blank" href="https://www.linkedin.com/in/rgenchev/"><%= fa_icon "linkedin" %></a>
    </div>
    
    <p class="app-footer"><%= copyright_generator %></p>
  </div>
</footer>