<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_me_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Blog", blogs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", portfolios_path, class: 'nav-link' %>
      </li>
        <%= login_helper 'nav-link' %>
    </ul>
  </nav>
  <strong><%= link_to "Radoslav Genchev", root_path, class: 'navbar-brand text-muted' %></strong>
</div>