<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
  
  <title><%= @page_title %></title>
  
  <%= favicon_link_tag 'favicons/rg.ico' %>
  
  <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  
  <meta name="keywords" content="<%= @seo_keywords %>" />
</head>
<body>
  
  <%= render 'shared/portfolio_nav' %>

  <%= render 'shared/portfolio_header' unless logged_in?(:site_admin) %>
  
  <%= yield %>
  
  <%= render 'shared/portfolio_footer' %>
  
  <%= alerts %>

</body>
</html>
